<!DOCTYPE html>
<html>
  <head>
    <title>RoboEco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'navbar', 'home', 'robot-show', 'robot-index', 'shared', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path("robo_eco_favicon.png") %>

    <link href="https://fonts.googleapis.com/css2?family=Jura&family=Kelly+Slab&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>Robo Eco</h1>
      <nav>
        <%= link_to "Home", home_path %>
        <%= link_to "Robos", robots_path %>
        <%= link_to "Items", product_types_path %>
        <%= link_to "Orders", shipping_orders_path %>
      </nav>
    </header>
    
    <%= yield %>
    
  </body>
</html>
